.list {
  list-style: none;
}
.list li {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  padding: 0.5rem;
  cursor: pointer;
}
.list li:hover {
  background-color: #ccc;
}
.title {
  font-size: 1rem;
  font-weight: bold;
  color: #ccc;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
li .icon {
  font-size: 2rem;
  color: #ff581a;
}

span {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 1rem;
}
