.dark {
  background-color: #222 !important;
  color: #ccc !important;
}
/*
.grid {
  color: red !important;
}
.table {
  background-color: #111 !important;
  color: #ccc !important;
}
.table-cell {
  color: #ccc !important;
}
.data-grid {
  color: #ccc !important;
}
.form-input {
  background-color: transparent;
}
.table-cell {
  color: #fff;
}
.list li:hover {
  background-color: red !important;
}
.data {
  background-color: red;
} */

/* input {
  background: transparent;
} */
