.home {
  /* background-color: orangered; */
  display: flex;
}

.home-container {
  /* background-color: green; */
  flex: 6;
}
.widgets,
.charts {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.charts {
  padding: 0.5rem 2rem;
}

.list-container {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.4);
}
.list-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 1.6rem;
}
