.home {
  /* background-color: orangered; */
  display: flex;
}

.home-container {
  /* background-color: green; */
  flex: 6;
}
.widgets,
.charts {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.charts {
  padding: 0.5rem 2rem;
}
