.data {
  padding: 2rem;
}
.action {
  display: flex;
  gap: 2rem;
}
.action button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.view {
  border: 1px solid #00ff0d;
  background: #00ff0d;
}
.delete {
  border: 1px solid #dc143c;
  color: #dc143c;
}
.add-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}
.add {
  font-size: 1.6rem;
  background-color: #00ff0d;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  cursor: pointer;
}
